version: "3.8"
services:
  api:
    container_name: arom-web-services
    ports:
      - 8000:8000
    build:
      context: ./
      dockerfile: dev.Dockerfile
    environment:
      - SERVER_PORT=8000
    volumes:
      - ./:/app
